/*Styles for my resume*/


/* Modify the backgorund color */
.navbar-custom {
    background-color: #6368c9;
}

/*title nav bar color*/
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}


/*body text*/
BODY {
  font-family:'Lato', Arial, sans-serif;;
  font-size: 1em;
  font-weight: 400;
}

/*banner*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*section headers*/
.sectionheader{
  color:#6368c9;
  border-bottom: 1.5px solid #000000;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}


/*link for contact*/
.link{
  color: #6368c9;
}

/*links for experience*/
.link2{
  color: black;
}

/*color to change when hovering over links*/
a:hover{
  color: #E029A1;
}

/*jobtitles*/
.jobtitle{
  font-weight: 700;
  font-size: 1.25em;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
}


/*Job dates*/
.date {
  color: #E029A1;
  font-weight: 400;
  font-size: 1.05em;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
}

/*paragraphs*/
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

/*bottom padding*/
.bottom{
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}



/*Footer*/
.page-footer{
  background-color: #6368c9;
  color: #fff;
}
